[run]
data_file = coverage/.coverage
omit =
    # setup files
    *setup.py
    # init files
    *__init__.py
    # version file
    *version.py
source = skdh

[report]
# regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if version_info

[html]
directory = coverage