name: Build_and_Publish

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]  # use windows-2019 because it still has a working fortran compiler installed
    
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}
      - uses: actions/setup-python@v3
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.12.3
      
      - name: Build wheels
        env:
          CIBW_SKIP: pp* cp36-* cp37-* *musllinux*
          CIBW_ARCHS_MACOS: x86_64
          CIBW_ARCHS_LINUX: auto64
          CIBW_ARCHS_WINDOWS: auto64
          # FC: gfortran-12
        run: |
          # if macOS, make sure to set the environment variables so that it can find gfortran-9
          if [ "$RUNNER_OS" == "macOS" ]; then
            export FC=gfortran-12
          fi
          python -m cibuildwheel --output-dir wheelhouse
        shell: bash
      - name: Print for Debugging
        run: ls ./wheelhouse
      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
  
  build_sdist:
    name: Build Source Distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz
  
  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          # unpacks default artifact into dist/
          # if `name: artifact` is omitted, the action will create extra parent dir
          name: artifact
          path: dist
      - name: Print for info
        run: ls dist/
      - name: Upload to twine
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
